.container-fluid.bg-dark.text-light.p-4
  .text-center
    %h1.text-warning.text-uppercase ⚔️ Select Your Fighters 🛡️

  .row.justify-content-center.mt-4
    .col-12.text-center
      %h2.text-primary Choose Your Champions!

  = form_with model: @battle, url: battles_path, local: true do |f|
    .row.justify-content-around.align-items-center.mt-5
      .col-12.col-md-5
        .text-center
          %h3.text-danger Player 1
          .form-group
            = f.label :fighter_1_id, "Select Fighter 1", class: "form-label"
            = f.collection_select :fighter_1_id, @characters, :id, :name, prompt: "Select Fighter 1", class: "form-select mb-3"

          .d-flex.justify-content-center.gap-3.mt-3
            - if @battle.fighter_1_id.present?
              - fighter_1 = @characters.find(@battle.fighter_1_id)
              %img{ src: url_for(fighter_1.avatar), alt: "Fighter 1 Avatar", class: "img-thumbnail border border-light", style: "max-width: 120px;" }
              %img{ src: url_for(fighter_1.avatar), alt: "Fighter 1 Avatar", class: "img-thumbnail border border-light", style: "max-width: 120px;" }
            - else
              %p.text-muted "Avatar will be displayed here after selection"

      .col-12.col-md-5
        .text-center
          %h3.text-info Player 2
          .form-group
            = f.label :fighter_2_id, "Select Fighter 2", class: "form-label"
            = f.collection_select :fighter_2_id, @characters, :id, :name, prompt: "Select Fighter 2", class: "form-select mb-3"

          .d-flex.justify-content-center.gap-3.mt-3
            - if @battle.fighter_2_id.present?
              - fighter_2 = @characters.find(@battle.fighter_2_id)
              %img{ src: url_for(fighter_2.avatar), alt: "Fighter 2 Avatar", class: "img-thumbnail border border-light", style: "max-width: 120px;" }
              %img{ src: url_for(fighter_2.avatar), alt: "Fighter 2 Avatar", class: "img-thumbnail border border-light", style: "max-width: 120px;" }
            - else
              %p.text-muted "Avatar will be displayed here after selection"

    .row.justify-content-center.mt-5
      .col-12.text-center
        = f.submit "🔥 Start the Battle! 🔥", class: "btn btn-danger btn-lg"
